<div class="container">
  <h1>Score</h1>
  <p><%= @start_time %></p>

  <h3>The grid</h3>
  <div class="letter-cards">
    <% @letters.each do |letter| %>
      <div class="letter">
        <p class=""><%= letter %></p>
      </div>
    <% end %>
  </div>

  <% if @included %>
    <% if @english %>
      <p><strong>Congratulations!</strong> <%= @word %> is a valid English word!</p>
    <% else %>
      <p>Sorry but <strong><%= @word %></strong> does not seem to be a valid English word...</p>
    <% end %>
  <% else %>
    <p>Sorry but <strong><%= @word %></strong> can't be built out of the grid</p>
  <% end %>

  <h3>Your answer</h3>
  <p><%= @word %></p>

  <h3>Included ?</h3>
  <p><%= @included %></p>

  <h3>Is English?</h3>
  <p><%= @english %></p>

  <div class="btn btn-outline-primary">
    <%= link_to 'Play again', new_path %>
  </div>
</div>
